<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dota.support.dao.IHeroDao">
  
	<select id="selectHeros" resultType="org.dota.support.pojo.Hero">
		select * from HERO_INFO
	</select>

	<select id="selectHeroByID" resultType="org.dota.support.pojo.Hero" parameterType="String">
		select * from HERO_INFO
		where ID = #{ID}
	</select>

	<select id="sumAssist" resultType="org.dota.support.pojo.Recommend" parameterType="java.util.List">
		SELECT Hero,sum(Assist) as IdxValue FROM ASSIST_INFO
		WHERE Teammate IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		GROUP BY Hero
	</select>

	<select id="sumAdvantage" resultType="org.dota.support.pojo.Recommend" parameterType="java.util.List">
		SELECT Hero,sum(Advantage) as IdxValue FROM ANTI_INFO
		WHERE Enemy IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		GROUP BY Hero
	</select>
	
	<select id="sumIdxValue" resultType="org.dota.support.pojo.Recommend" parameterType="HashMap">
		SELECT Hero, IdxValue FROM 
		(
			SELECT TEMP_TABLE.Hero as Hero,sum(TEMP_TABLE.IdxValue) as IdxValue from 
			(
				SELECT Hero,sum(Assist) as IdxValue FROM ASSIST_INFO WHERE Teammate IN 
				<foreach collection="Teammate" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
				GROUP BY Hero				
				UNION ALL				
				SELECT Hero,sum(Advantage) as IdxValue FROM ANTI_INFO WHERE Enemy IN 
				<foreach collection="Enemy" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
				GROUP BY Hero
			) AS TEMP_TABLE
			GROUP BY Hero
		) AS SUMMARY_TABLE 
		ORDER BY 2 DESC 
		LIMIT 10
	</select>

	<select id="getAssist" resultType="org.dota.support.pojo.Assist" parameterType="HashMap">
		SELECT Hero,Teammate,Assist,WinRate,CombTimes
		FROM ASSIST_INFO
		WHERE Hero = #{Hero}
		and Teammate = #{Teammate}
	</select>

	<select id="getAnti" resultType="org.dota.support.pojo.Anti" parameterType="HashMap">
		SELECT Hero,Enemy,Advantage,WinRate,AntiTimes
		FROM ANTI_INFO
		WHERE Hero = #{Hero}
		and Enemy = #{Enemy}
	</select>
</mapper>  